section.advantages
  .row.advantages--top
    .pic.pick--hand
      img(src="./assets/img/hand-pack.png", alt="img")
    h2.title 
      | Почему
      br
      span простатилен
      span.icon ?
    .pic.pick--statium.visible__md
      img(src="./assets/img/statium.png", alt="img")
  .row
    .container
      ul.list
        li.item
          h3.title 
            | Эффективный
            br
            | состав
          p.text 
            | Пептиды (экстракт простаты молодых бычков), 
            | глицин и цинк восстанавливают функции предстательной железы и&#160;поддерживают местный иммунитет, 
            | быстро снимая воспаление и&#160;предотвращая рецидивы.
        li.item
          h3.title Работает непосредственно в&#160;очаге воспаления
          p.text 
            | Свечи доставляют действующие вещества прямо к простате. 
            | По&#160;пути они не&#160;проходят через желудочно&#8209;кишечный тракт и&#160;печень, 
            | поэтому не&#160;разрушаются ферментами. 
            | Это повышает эффективность лечения свечами по&#160;сравнению с&#160;приемом таблеток и&#160;капсул.
        li.item
          h3.title Признание врачебного сообщества
          p.text 
            | Разработан при участии специалистов Военно&#8209;медицинской академии им. С.М.&#160;Кирова, 
            b более 20&#160;лет 
            | успешно применяется в&#160;клинической практике. 
            | Выбор врачей для&#160;эффективной терапии хронического простатита и&#160;предотвращения рецидивов по&#160;итогам премии 
            b Russian&#160;Pharma&#160;Awards&#8209;2018.
  .row
    .button
      a(href="https://prostatilen.ru/")
        | узнать больше
        br
        span на prostatilen.ru