main.main
  .container
    .experts
      ul.slider
        li.item.slide-1
          .text
            p 
              | Не нужно быть Эйнштейном, чтобы 
              br
              span.blue вылечить простатит
          .pic
        //- li.item.slide-2
        //-   .text
        //-     p 
        //-       | Мои вкусы просты. 
        //-       br
        //-       | Я легко удовлетворяюсь наилучшим. 
        //-       br
        //-       span.blue Жизнью без простатита.
        //-   .pic
    .title
      h1.title Доверяй авторитетам!
      .button
        a.video смотреть
    .content
      p.text.text-1 Клинически доказано, что 
      p.text.text-2
        span Простатилен
        |  способствует:
      p.text.text-3 Снижению болевого синдрома
      p.text.text-4 Восстановлению привычной частоты мочеиспускания
      p.text.text-5 Усилению полового влечения, повышению качества эрекции и оргазма
      p.text.text-6 
        | простатилен - 
        br
        | и нет проблем!