main.main
  .container
    .experts
      ul.slider
        li.item.slide-1
          .text
            p 
              | Не нужно быть Эйнштейном, чтобы 
              br
              span.blue вылечить простатит!
          .pic
            span
            span
            span
        li.item.slide-2
          .text
            p 
              | Мои вкусы просты. 
              br
              | Я легко удовлетворяюсь наилучшим. 
              br
              span.blue Жизнью без простатита.
          .pic
            span
            span
            span
            span.name 
              | Уинстон 
              br
              | Черчилль
        li.item.slide-3
          .text
            p 
              | Пришел, увидел, победил
              br
              span.blue простатит!
          .pic
            span
            span
            span
            span.name 
              | Гай Юлий 
              br
              | Цезарь
        li.item.slide-4
          .text
            p 
              | Коней на переправе не&#160;меняют. 
              br
              | Держи правильный курс на 
              br
              span.blue победу над простатитом!
          .pic
            span
            span
            span
            span.name 
              | Авраам  
              br
              | Линкольн
        li.item.slide-5
          .text
            p 
              | Счастлив тот, кто счастлив дома. 
              br
              span.blue Без простатита.
          .pic
            span
            span
            span
            span.name 
              | Лев  
              br
              | Толстой
        li.item.slide-6
          .text
            p 
              | Возможность победы только&#160;в&#160;атаке! 
              br
              span.blue Атакуй простатит!
          .pic
            span
            span
            span
            span.name Чингисхан
    .content
      p.text.text-1 
        | Клинически доказано, что 
        span.hidden__md Простатилен способствует:
      p.text.text-2.visible__md
        span Простатилен
        |  способствует:
      p.text.text-3 
        | Снижению болевого синдрома
        svg
          clipPath
            path(d="M1,141 L449,133 449,4 5,-1 z")
          path(d="M1,141 L449,133 449,4 5,-1 z")
      p.text.text-4 
        | Восстановлению привычной частоты мочеиспускания
        svg
          clipPath
            path(d="M1,141 L411,138 395,2 10,-2 z")
          path(id="svgMask" d="M1,141 L411,138 395,2 10,-2 z")
      p.text.text-5 
        | Усилению полового влечения, повышению качества эрекции и оргазма
        svg
          clipPath
            path(d="M1,141 L449,133 449,4 5,-1 z")
          path(d="M1,141 L449,133 449,4 5,-1 z")
      p.text.text-6 простатилен - и&#160;нет проблем!
    .title
      h1.title 
        | Доверяй авторитетам!
        svg(width="319" height="340" class='visible__md' viewBox="0 0 319 340" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(stroke-linejoin="round" class="st0 draw-arrow" d="M307 1C310 9.5 338.5 100.5 275 160.5C211.5 220.5 95 208.5 112 160.5C129 112.5 215 175 134 251.5C69.2 312.7 20 322.5 1 328" stroke="black")
          path(class="draw-arrow tail-1" d="M2 329L10.5 313.5" stroke="black" stroke-width="4" stroke-linecap="round")
          path(class="draw-arrow tail-2" d="M18 338L2 329" stroke="black" stroke-width="4" stroke-linecap="round")
        .lines.lines--1
          span
            svg(width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg")
              line(x1="18.9289" y1="2.02738" x2="2.14539" y2="2.08955" stroke="white" stroke-width="2.90631" stroke-linecap="round" stroke-linejoin="round")
          span
            svg(width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg")
              line(x1="18.9289" y1="2.02738" x2="2.14539" y2="2.08955" stroke="white" stroke-width="2.90631" stroke-linecap="round" stroke-linejoin="round")
          span
            svg(width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg")
              line(x1="18.9289" y1="2.02738" x2="2.14539" y2="2.08955" stroke="white" stroke-width="2.90631" stroke-linecap="round" stroke-linejoin="round")
      .button
        a.video смотреть
        .lines.lines--2
          span
            svg(width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg")
              line(x1="18.9289" y1="2.02738" x2="2.14539" y2="2.08955" stroke="white" stroke-width="2.90631" stroke-linecap="round" stroke-linejoin="round")
          span
            svg(width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg")
              line(x1="18.9289" y1="2.02738" x2="2.14539" y2="2.08955" stroke="white" stroke-width="2.90631" stroke-linecap="round" stroke-linejoin="round")
          span
            svg(width="21" height="4" viewBox="0 0 21 4" fill="none" xmlns="http://www.w3.org/2000/svg")
              line(x1="18.9289" y1="2.02738" x2="2.14539" y2="2.08955" stroke="white" stroke-width="2.90631" stroke-linecap="round" stroke-linejoin="round")