section.modal{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,.5);
  display: none;
  z-index: 1;
  & .close{
    position: absolute;
    right: 30px;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url('/assets/img/icons/close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  & .video{
    width: 90%;
    margin: auto;
  }
  &.open{
    display: flex;
  }
}

@media (min-width: $smDesktopWidth){
  section.modal{
    & .video{
      width: 60%;
    }
  }
}